<div class="container-lg">
  <h1 class="text-center m-5">Choisir une devise</h1>

  <div class="form-control bg-dark text-center mt-4">
    <select (change)="getCurrencyToConvert($event)">
      <option disabled selected >Currency to convert</option>
      <option *ngFor="let currency of currentValues">{{currency}}</option>
    </select>
  </div>

  <div class="form-control bg-dark text-center mt-4">
    <input [(ngModel)]="userInput" type="text" class="text-center bg-dark text-warning userInput" placeholder=". . .">
  </div>

  <div class="form-control bg-dark text-center mt-4">
    <select (change)="getCurrencyInWhichToConvert($event)">
      <option disabled selected >Currency in which to convert</option>
      <option *ngFor="let currency of currentValues">{{currency}}</option>
    </select>
  </div>

  <div class="text-center">
    <button class="btn btn-block btn-success border-light m-5" [disabled]="enableButton()" (click)="displayConvertedInput()">Convertir</button>
  </div>

  <div class="convertedCurrency text-center border-success">
    {{convertedCurrency}}
  </div>
</div>
