select {
  min-width: 18vw;
  max-width: 18vw;
  text-align: center;
  background-color: #485460;
  color: #ffd32a;
}

.userInput {
  min-width: 18vw;
  max-width: 18vw;
  text-align: center;
  background-color: #485460;
  color: #ffd32a;
}

#convertedCurrency {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  min-width: 18vw;
  max-width: 18vw;
  text-align: center;
  background-color: #485460;
  color: #ffd32a;
}
