body {
  background-color: #273c75;
  color: #f5f6fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0;
  padding: 3vw;
  font-weight: bolder;
  font-size: 2.2em;
}
